<html>
    <body>
        <%- include('navbar')%>
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <p><%= message.added.toLocaleDateString('en-US') %></p>
    </body>
</html>

